<br/><br/><br/>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <h2>Edit <%= resource_name.to_s.humanize %></h2>
              <hr>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <%= f.input :avatar, as: :file %>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="form-group">
                <%= f.input :first_name, input_html: {class: "form-control"} %>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="form-group">
                <%= f.input :last_name, input_html: {class: "form-control"} %>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="form-group">
                <%= f.input :email, required: true, autofocus: true, input_html: {class: "form-control"} %>
              </div>
            </div>

            <!-- <div class="col-xs-6"> -->
              <!-- <div class="form-group"> -->
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
              <!-- </div> -->
            <!-- </div> -->

            <div class="col-xs-6">
              <div class="form-group">
                <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, input_html: {class: "form-control"} %>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="form-group">
                <%= f.input :password_confirmation, required: false, input_html: {class: "form-control"} %>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="form-group">
                <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: {class: "form-control"} %>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <%= f.button :submit, "Update", class: "btn btn-default" %>
              </div>
            </div>

            <br/><br/>

            <div class="col-xs-12">
              <h3>Cancel my account</h3>
              <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
              <%= link_to "Back", :back %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
