<br/><br/><br/>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <h2>Sign Up</h2>
              <hr/>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <%= f.input :first_name, input_html: {class: "form-control"} %>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="form-group">
                <%= f.input :last_name, input_html: {class: "form-control"} %>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="form-group">
                <%= f.input :email, required: true, autofocus: true, input_html: {class: "form-control"} %>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="form-group">
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: {class: "form-control"} %>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <%= f.input :password_confirmation, required: true, input_html: {class: "form-control"} %>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="form-group">
                <%= f.button :submit, "Sign up" %>
                <br/>
                <%= link_to "Back", root_path %>
                <br/>
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
