<h1 class="text-center">Explore</h1>

<div class="row">
  <% @users.each do |user| %>
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <a href="<%= user_url(user) %>">
                <% if user.avatar.present? %>
                  <img class="media-object img-circle" width="100" height="100" src="<%= image_path user.avatar.url %>" alt="">
                <% else %>
                  <img class="media-object img-circle" width="100" height="100" src="<%= image_path('blank-user.jpg') %>" alt="Default">
                <% end %>
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= link_to "#{user.first_name} #{user.last_name}", user_url(user) %></h4>
              <h5><%= user.email %></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= will_paginate @users %>
</div>
