<br>

<% @musics.each do |music| %>
  <h2 class="text-center"><%= music.name %></h2>

  <div id="jquery_jplayer_1" class="jp-jplayer"></div>
  <div id="jp_container_1" class="jp-audio">
    <div class="jp-type-single">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
          <li><a href="javascript:;" class="jp-play" tabindex="1">&#61515;</a></li>
          <li><a href="javascript:;" class="jp-pause" tabindex="1">&#61516;</a></li>
          <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">&#61480;</a></li>
          <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">&#61478;</a></li>
        </ul>

        <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>

        <div class="jp-time-holder">
          <div class="jp-current-time"></div>
        </div>

        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>

        <div class="jp-no-solution">
          <span>Update Required</span>
          To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="form-group text-center">
    <div class="btn-group">
      <%= link_to "Back", users_path, class: "btn btn-default" %>
      <% if current_user == @music.user %>
        <%= link_to "Update", edit_music_path(music), class: "btn btn-primary" %>
        <%= link_to "Delete", music_url(music), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>

  <script>
    $(document).ready(function(){
      $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            mp3: "<%= music.mp3.url %>",
          });
        },
        swfPath: "/js",
        supplied: "mp3"
      });
    });
  </script>
<% end %>
