<nav class="navbar navbar-inverse">
  <div class="container-fluid wrapper-custom">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Muvent</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="<%= events_url %>">Your Events</a></li>
              <li><a href="<%= new_event_url %>">Create Event</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Musics <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="<%= musics_url %>">Your Musics</a></li>
              <li><a href="<%= new_music_url %>">Upload Music</a></li>
            </ul>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= users_path %>">Explore</a></li>
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= full_name %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="<%= edit_user_registration_url %>">Edit Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Logout", destroy_user_session_url, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><a href="<%= new_user_session_url %>">Sign In</a></li>
          <li><a href="<%= new_user_registration_url %>">Sign Up</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
