= simple_form_for(@event) do |f|
  %p= f.error_notification

  .row
    .col-xs-6.col-xs-offset-3
      .row
        .col-xs-12
          .form-group
            %label Event Name
            = f.input :name, input_html: {class: "form-control"}, label: false

        .col-xs-6
          .form-group
            %label Start Event
            = f.text_field :start_event, class: "form-control", id: "start_event"

        .col-xs-6
          .form-group
            %label End Event
            = f.text_field :end_event, class: "form-control", id: "end_event"

        .col-xs-12
          .form-group
            = f.input :location, input_html: {class: "form-control", rows: 4}

        .col-xs-12
          .form-group
            %label Additional Info
            = f.input :info, input_html: {class: "form-control"}, label: false

        .col-xs-12
          .form-group
            = link_to "Back", events_url, class: "btn btn-default"
            = f.button :submit, class: "btn btn-primary"
