<h1 class="page-header">
  Your Events
  <% if @events.empty? %>
     -
    You don't have any event, create event now. <%= link_to "Create Event", new_event_url, class: "btn btn-primary" %>
  <% else %>
     -
    <%= link_to "Create Event", new_event_url, class: "btn btn-primary" %>
  <% end %>
</h1>

<div id="calendar"></div>

<br/>

<script>
  $('#calendar').fullCalendar({
    defaultView: 'month',
    header: {
      left: 'prev, next today',
      center: 'title',
      right: 'month, agendaWeek, agendaDay'
    },
    events: [
      <% @events.each do |event| %>
        {
          title: "<%= event.name %> - <%= event.location %>",
          start: "<%= event.start_event.strftime '%Y-%m-%dT%H:%M:%S' %>",
          end: "<%= event.end_event.strftime '%Y-%m-%dT%H:%M:%S' %>",
          url: "<%= event_url(event) %>"
        },
      <% end %>
    ]
  });
</script>
