%h1 Event Detail

.row
  .col-xs-10
    .panel.panel-default
      .panel-body
        %table.row
          %tr
            %td.col-xs-4
              %h3
                %strong
                  Event Name
            %td.col-xs-4
              %h3 :
            %td.col-xs-4
              %h3
                = @event.name
          %tr
            %td.col-xs-4
              %h3
                %strong
                  Start Event
            %td.col-xs-4
              %h3 :
            %td.col-xs-4
              %h3
                = @event.start_event.strftime '%b %e %Y, %l:%M %p'
          %tr
            %td.col-xs-4
              %h3
                %strong
                  End Event
            %td.col-xs-4
              %h3 :
            %td.col-xs-4
              %h3
                = @event.end_event.strftime '%b %e %Y, %l:%M %p'
          %tr
            %td.col-xs-4
              %h3
                %strong
                  Location
            %td.col-xs-4
              %h3 :
            %td.col-xs-4
              %h3
                = @event.location
          %tr
            %td.col-xs-4
              %h3
                %strong
                  Additional Info
            %td.col-xs-4
              %h3 :
            %td.col-xs-4
              %h3
                = @event.info
          %tr
            %td.col-xs-4
              %h3
                %strong
                  Created By
            %td.col-xs-4
              %h3 :
            %td.col-xs-4
              %h3
                = @event.user.first_name
                = @event.user.last_name

= link_to "Back", events_url, class: "btn btn-default"
- if current_user == @event.user
  = link_to "Edit", edit_event_url(@event), class: "btn btn-primary"
  = link_to "Delete", event_url(@event), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"}

%br/
%br/
