<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3">
        <a class="footer-logo logo-content" href="<%= root_path %>">Muvent</a>
      </div>
      <div class="col-xs-3">
        <p class="footer-title">Support</p>
        <ul class="footer-ul">
          <li><a href="#">Label 1</a></li>
          <li><a href="#">Label 2</a></li>
          <li><a href="#">Label 3</a></li>
        </ul>
      </div>
      <div class="col-xs-3">
        <p class="footer-title">Product</p>
        <ul class="footer-ul">
          <li><a href="#">Label 1</a></li>
          <li><a href="#">Label 2</a></li>
        </ul>
      </div>
      <div class="col-xs-3">
        <p class="footer-title">Company</p>
        <ul class="footer-ul">
          <li><a href="#">Label 1</a></li>
          <li><a href="#">Label 2</a></li>
          <li><a href="#">Label 3</a></li>
          <li><a href="#">Label 4</a></li>
          <li><a href="#">Label 5</a></li>
        </ul>
      </div>
    </div>

    <br/>
    <p class="copyright text-center">&copy; 2017 <a href="https://github.com/adhamkurniawan">Adham Kurniawan</a> <br/> All Rights Reserved <br/><br/> User Interface only Support on Web Desktop right now</p>
  </div>
</footer>
