<div class="banner">
  <img class="banner-img" src="<%= image_path('banner.jpeg') %>" alt="Banner">

  <nav class="cust-navbar">
    <div class="container-fluid">
      <div class="logo">
        <a href="<%= root_path %>">Muvent</a>
      </div>

      <div class="menu-list-right">
        <a href="<%= users_url %>">Explore</a>
        <% if user_signed_in? %>
          <%= link_to "Add Event", new_event_url %>
          <%= link_to "Add Music", new_music_url %>
          <%= link_to "Logout", destroy_user_session_url, method: :delete %>
        <% else %>
          <a href="<%= new_user_session_url %>">Login</a>
          <a class="menu-btn" href="<%= new_user_registration_url %>">Sign Up</a>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="wrapper-banner">
      <div class="content">
        <h1><span class="logo-content">Muvent</span> is event management and music streaming applications.</h1>
        <p>Snackwave VHS pug crucifix hot chicken mustache. Man braid taxidermy literally celiac skateboard. Etsy single-origin coffee pitchfork mumblecore. Cred normcore fingerstache cray snackwave. Retro twee salvia truffaut venmo tote bag succulents four loko fingerstache. Kombucha mumblecore hoodie viral williamsburg live-edge everyday carry shaman copper mug cronut iPhone selvage slow-carb.</p>
        <br/>
        <a href="<%= new_user_registration_url %>" class="cust-btn-default">Get Started</a>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="wrapper-section">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-3">
          <img class="img-responsive" src="<%= image_path('calendar.png') %>" alt="Calendar"/>
        </div>
        <div class="col-xs-3">
          <h3 class="text-color1">
            <strong>Event Management</strong>
          </h3>
          <p class="text-color6">Snackwave VHS pug crucifix hot chicken mustache. Man braid taxidermy literally celiac skateboard. Etsy single-origin coffee pitchfork mumblecore.</p>
        </div>
      </div>
      <br/><br/>
      <div class="row">
        <div class="col-xs-3 col-xs-offset-3">
          <h3 class="text-color1">
            <strong>Music Streaming</strong>
          </h3>
          <p class="text-color6">Snackwave VHS pug crucifix hot chicken mustache. Man braid taxidermy literally celiac skateboard. Etsy single-origin coffee pitchfork mumblecore.</p>
        </div>
        <div class="col-xs-3">
          <img class="img-responsive" src="<%= image_path('headphone.png') %>" alt="Headphone"/>
        </div>
      </div>
      <br/><br/>
      <div class="row">
        <div class="col-xs-3 col-xs-offset-3">
          <img class="img-responsive" src="<%= image_path('globe.png') %>" alt="Globe"/>
        </div>
        <div class="col-xs-3">
          <h3 class="text-color1">
            <strong>Explore More</strong>
          </h3>
          <p class="text-color6">Snackwave VHS pug crucifix hot chicken mustache. Man braid taxidermy literally celiac skateboard. Etsy single-origin coffee pitchfork mumblecore.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-bg">
  <div class="container">
    <div class="wrapper-section">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-3">
          <h3 class="secondary-title">
            Williamsburg before they sold out 8-bit, affogato fam.
          </h3>
        </div>
        <div class="col-xs-3">
          <div class="wrapper-btn">
            <a href="<%= new_user_registration_url %>" class="cust-btn-default shadow">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <h1 class="main-title text-center"><strong>Our Product</strong></h1>
    <br/><br/>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <div class="web">
                <i class="fa fa-desktop fa-2x"></i>
              </div>
              <h3 class="secondary-title">Muvent Web Apps</h3>
              <p>
                Tote bag pickled green juice locavore before they sold out cred
                pork belly kale chips fashion axe chartreuse street art keffiyeh
              </p>
              <a href="<%= new_user_registration_url %>" class="cust-btn-primary shadow">Get Started</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <div class="mobile">
                <i class="fa fa-mobile fa-2x"></i>
              </div>
              <h3 class="secondary-title">Muvent Mobile Apps</h3>
              <p>
                Tote bag pickled green juice locavore before they sold out cred
                pork belly kale chips fashion axe chartreuse street art keffiyeh
              </p>
              <a href="#modalDownload" data-toggle="modal" class="cust-btn-primary shadow">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-bg">
  <div class="container">
    <div class="wrapper-section">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="text-center">
            <h3 class="secondary-title">
              Art party typewriter butcher air plant godard
              leggings cloud bread kale chips franzen
              messenger bag semiotics squid four loko
            </h3>
            <br/>
            <div class="input-group shadow">
              <input type="text" class="form-control" />
              <div class="input-group-btn">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalSubs">
                  Subscribe
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Download -->
<div class="modal fade" id="modalDownload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Download Files</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <a href="https://drive.google.com/file/d/0BwBsRc3seSQfYnhFSU5fcV96UjQ/view?usp=sharing">
                <img src="<%= image_path('ios-android.png') %>" alt="Android" class="img-responsive">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Subscribe -->
<div class="modal fade" id="modalSubs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Only placeholder, hope you enjoy it!</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%= render 'footer' %>
