<br/><br/><br/>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <h2>Log in</h2>
              <hr/>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <%= f.input :email, required: false, autofocus: true, input_html: {class: "form-control"} %>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <%= f.input :password, required: false, input_html: {class: "form-control"} %>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <%= f.button :submit, "Login", class: "btn btn-default" %>
                <br/>
                <%= link_to "Back", root_path %>
                <br/>
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
