// variable color
$color1: #000428
$color2: #004e92
$color3: #ffffff
$color4: #95a5a6
$color5: #bdc3c7
$color6: #7f8c8d
$color7: #ecf0f1
$color8: #3498db
$color9: #e74c3c
$color10: #0f0c29

// importing fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700')
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300')

// helper
body
  font-family: 'Roboto', sans-serif

.logo-content
  font-family: 'Titillium Web', sans-serif
  font-weight: 300

.text-color1
  color: $color1
.text-color2
  color: $color2
.text-color3
  color: $color3
.text-color4
  color: $color4
.text-color5
  color: $color5
.text-color6
  color: $color6
.text-color7
  color: $color7
.text-color8
  color: $color8
.text-color9
  color: $color9

// component
.shadow
  -webkit-box-shadow: 0px 5px 22px 2px rgba(0,0,0,0.5)
  -moz-box-shadow: 0px 5px 22px 2px rgba(0,0,0,0.5)
  box-shadow: 0px 5px 22px 2px rgba(0,0,0,0.5)

.cust-btn-default
  padding: 7px 15px 7px 15px
  background: $color3
  color: $color2
  font-weight: 700
  text-decoration: none
  border-radius: 30px
  &:focus, &:hover
    text-decoration: none

.cust-btn-primary
  padding: 7px 15px 7px 15px
  background: $color2
  color: $color3
  font-weight: 700
  text-decoration: none
  border-radius: 30px
  &:focus, &:hover
    text-decoration: none
    color: $color3

// page content
.banner
  position: relative
  width: 100%
  .cust-navbar
    position: absolute
    top: 50px
    left: 20px
    right: 20px
    color: $color3
    .logo
      float: left
      a
        font-size: 30px
        font-family: 'Titillium Web', sans-serif
        font-weight: 300
        color: $color3
        text-decoration: none
    .menu-list-right
      float: right
      margin-top: 15px
      a
        margin-right: 15px
        font-size: 16px
        color: $color3
        text-decoration: none
      .menu-btn
        padding: 7px 20px 7px 20px
        background: $color3
        color: $color2
        font-size: 16px
        font-weight: 700
        border-radius: 30px
  .banner-img
    width: 100%
    height: 630px
  .wrapper-banner
    position: absolute
    width: 50%
    top: 180px
    margin-left: 30px
    .content
      color: $color3

.section
  margin-top: 50px
  margin-bottom: 50px
  .wrapper-section
    margin-left: 30px
  .main-title
    font-size: 36px
    color: $color1
  .secondary-title
    font-size: 20px
    color: $color1
  .web, .mobile
    width: 50px
    height: 50px
    margin: 0 auto
    border-radius: 50%
    background: $color8
    i
      vertical-align: middle
      margin-top: 13px
      color: $color3
  .mobile
    background: $color9
  p
    font-size: 14px
    color: $color1
    font-weight: 300

.section-bg
  position: relative
  background: #000428  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #004e92, #000428)  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #004e92, #000428) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden
  .wrapper-section
    padding-top: 100px
    padding-bottom: 100px
    padding-left: 20px
  .main-title
    font-size: 36px
    color: $color3
    vertical-align: middle
  .secondary-title
    font-size: 20px
    color: $color3
    vertical-align: middle
  p
    font-size: 14px
    color: $color1
    font-weight: 300
  .wrapper-btn
    margin-top: 30px

.footer
  position: relative
  width: 100%
  background: $color7
  padding: 20px 20px 100px 20px
  .footer-logo
    font-size: 19px
    color: $color1
    &:focus, &:hover
      text-decoration: none
      color: $color1
  .footer-title
    font-size: 19px
    font-weight: 700
    color: $color1
    &:focus, &:hover
      text-decoration: none
      color: $color1
  .footer-ul
    list-style: none
    margin-left: -40px
    li
      margin-bottom: 8px
      a
        color: $color2
        text-decoration: none
        &:focus, &:hover
          text-decoration: none
  .copyright
    position: absolute
    font-size: 12px
    color: $color6
    bottom: 0
    left: 30px
    right: 30px
