<%= simple_form_for @music, html: {multipart: true} do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <%= f.input :mp3, as: :file %>
            <p class="help-block">Format Mp3</p>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="form-group">
            <%= f.input :name, input_html: {class: "form-control"} %>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="form-group">
            <%= link_to 'Back', musics_path, class: "btn btn-default" %>
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
