<h1 class="text-center">Your Musics</h1>

<div class="row">
  <% @musics.each do |music| %>
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="text-center">
            <%= link_to music.name, music_url(music) %>
          </h3>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-xs-6 col-xs-offset-3">
    <%= will_paginate @musics %>
  </div>
</div>
